body {
    margin: 0px;
    margin-top: 120px;
    background-color: black;
    text-align: center;
}

h1{
  color: pink;
}
.colum{
    display: inline-block;
    height: 70px;
    width: 88px;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 2px;
    font-size: 50px;
    padding: 20px;
    padding-top: 30px;
}

button{
    margin-top: 40px;
    font-size: 20px;
    background-color: lightpink;
    padding: 10px;


}